pkgbase = xfce4-power-manager-lk
	pkgdesc = Power manager for the Xfce desktop
	pkgver = 4.16.0
	pkgrel = 3
	url = https://docs.xfce.org/xfce/xfce4-power-manager/start
	arch = x86_64
	groups = xfce4
	license = GPL2
	makedepends = intltool
	makedepends = xfce4-panel
	depends = libxfce4ui
	depends = upower
	depends = libnotify
	depends = xfce4-notifyd
	depends = hicolor-icon-theme
	optdepends = xfce4-panel: for the Xfce panel plugin
	provides = xfce4-power-manager
	conflicts = xfce4-power-manager
	source = https://archive.xfce.org/src/xfce/xfce4-power-manager/4.16/xfce4-power-manager-4.16.0.tar.bz2
	source = idle.patch
	sha256sums = eb9c587c01b502fa45a32e7fc2aba98fa6d8391475133883654f77e562c43bf3
	sha256sums = 8cb869d95587f048bee8d03ccafa5a4bc7c0e761815972c66ccc4c07e69ad436

pkgname = xfce4-power-manager-lk
