pkgbase = dbeaver-plugin-sshj-lk
	pkgdesc = DBeaver plugin for SSHv2 tunnels with Bouncy Castle algorithm
	pkgver = 1.0.87.202110030714
	pkgrel = 1
	url = https://dbeaver.io/
	arch = any
	license = Apache
	makedepends = unzip
	depends = dbeaver-plugin-sshj-lib
	provides = dbeaver-plugin-sshj=1.0.87.202110030714
	conflicts = dbeaver-plugin-sshj
	noextract = org.jkiss.dbeaver.net.ssh.sshj_1.0.87.202110030714.jar
	noextract = org.jkiss.dbeaver.net.sshj.feature_1.0.87.202110030714.jar
	source = https://dbeaver.io/update/ce/latest/plugins/org.jkiss.dbeaver.net.ssh.sshj_1.0.87.202110030714.jar
	source = https://dbeaver.io/update/ce/latest/features/org.jkiss.dbeaver.net.sshj.feature_1.0.87.202110030714.jar
	source = dbeaver-plugin-sshj.info
	sha256sums = 64092561de4c6503263ba0204b745c3e3cf109a2ff37f0d8baf2c91eba8f29c5
	sha256sums = 2707de7ebce9c97ad511eb13bfc2f278a86260f4000448f0b173e1d8f42b1eea
	sha256sums = 8c2e9fb3024b832d451fa1e2536308be18197d83ebbad4128f43edc33e50bf8e

pkgname = dbeaver-plugin-sshj-lk
