pkgbase = remmina-git
	pkgdesc = The GTK Remmina Remote Desktop Client
	pkgver = 1.4.16.r47.g76fc87325
	pkgrel = 1
	url = http://www.remmina.org/
	install = remmina.install
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = freerdp
	makedepends = libvncserver
	makedepends = spice-gtk
	makedepends = spice-protocol
	makedepends = telepathy-glib
	makedepends = harfbuzz
	makedepends = xorgproto
	makedepends = gobject-introspection
	depends = avahi
	depends = libgcrypt
	depends = libssh
	depends = vte3
	depends = libsodium
	depends = libappindicator-gtk3
	optdepends = freerdp: RDP plugin
	optdepends = libsecret: Secret plugin
	optdepends = libvncserver: VNC plugin
	optdepends = libxkbfile: NX plugin
	optdepends = nxproxy: NX plugin
	optdepends = spice-gtk: Spice plugin
	optdepends = telepathy-glib: Telepathy plugin
	optdepends = xorg-server-xephyr: XDMCP plugin
	optdepends = gnome-terminal: external tools
	provides = remmina
	provides = grdc
	provides = grdc=1.4.16.r47.g76fc87325
	provides = remmina-plugins
	conflicts = remmina
	conflicts = grdc
	replaces = remmina-plugins
	source = git+https://gitlab.com/remmina/remmina.git
	sha256sums = SKIP

pkgname = remmina-git

