pkgbase = xfce4-settings-lk
	pkgdesc = Settings manager of the Xfce desktop
	pkgver = 4.16.1
	pkgrel = 2
	url = https://www.xfce.org/
	arch = x86_64
	groups = xfce4
	license = GPL2
	makedepends = intltool
	makedepends = xf86-input-libinput
	depends = exo
	depends = garcon
	depends = libxfce4ui
	depends = xfconf
	depends = libnotify
	depends = libcanberra
	depends = colord
	depends = libxklavier
	depends = adwaita-icon-theme
	depends = gnome-themes-extra
	optdepends = python: xfce4-compose-mail -- "mailto:" URI handling
	provides = xfce4-settings
	conflicts = xfce4-settings
	source = https://archive.xfce.org/src/xfce/xfce4-settings/4.16/xfce4-settings-4.16.1.tar.bz2
	source = keyboard-correctly-initialize-setting.patch
	source = default-xsettings-xml.patch
	sha256sums = bb28e1be7aa34d0edb1cfbaacc509a4267db56828b36cd6be312a202973635c6
	sha256sums = 020da2ecaef7d387c6082fed419bd01808c8c44f79c68b1a9c87ee6f85508d22
	sha256sums = 8e9a6c70ab0ceb5d91b637dc290768f8a47edb5d7b6e2eebc4459dbc4ee040d7

pkgname = xfce4-settings-lk

