pkgbase = handbrake-lk
	pkgver = 1.5.1
	pkgrel = 2
	url = https://handbrake.fr/
	arch = x86_64
	license = GPL
	makedepends = intltool
	makedepends = python
	makedepends = nasm
	makedepends = wget
	makedepends = cmake
	makedepends = meson
	makedepends = libxml2
	makedepends = libass
	makedepends = libvorbis
	makedepends = opus
	makedepends = speex
	makedepends = libtheora
	makedepends = lame
	makedepends = x264
	makedepends = jansson
	makedepends = libvpx
	makedepends = libva
	makedepends = numactl
	makedepends = bzip2
	makedepends = gcc-libs
	makedepends = zlib
	makedepends = xz
	makedepends = libjpeg-turbo
	makedepends = gst-plugins-base
	makedepends = gtk3
	makedepends = librsvg
	makedepends = libgudev
	options = !lto
	source = https://github.com/HandBrake/HandBrake/releases/download/1.5.1/HandBrake-1.5.1-source.tar.bz2
	source = https://github.com/HandBrake/HandBrake/releases/download/1.5.1/HandBrake-1.5.1-source.tar.bz2.sig
	validpgpkeys = 1629C061B3DDE7EB4AE34B81021DB8B44E4A8645
	sha256sums = 3999fe06d5309c819799a73a968a8ec3840e7840c2b64af8f5cdb7fd8c9430f0
	sha256sums = SKIP

pkgname = handbrake-lk
	pkgdesc = Multithreaded video transcoder
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = libxml2
	depends = libass
	depends = libvorbis
	depends = opus
	depends = speex
	depends = libtheora
	depends = lame
	depends = x264
	depends = jansson
	depends = libvpx
	depends = libva
	depends = numactl
	depends = bzip2
	depends = gcc-libs
	depends = zlib
	depends = xz
	depends = libjpeg-turbo
	depends = gst-plugins-base
	depends = gtk3
	depends = librsvg
	depends = libgudev
	optdepends = gst-plugins-good: for video previews
	optdepends = gst-libav: for video previews
	optdepends = intel-media-sdk: Intel QuickSync support
	optdepends = libdvdcss: for decoding encrypted DVDs
	provides = handbrake
	conflicts = handbrake

pkgname = handbrake-cli-lk
	pkgdesc = Multithreaded video transcoder (CLI)
	depends = libxml2
	depends = libass
	depends = libvorbis
	depends = opus
	depends = speex
	depends = libtheora
	depends = lame
	depends = x264
	depends = jansson
	depends = libvpx
	depends = libva
	depends = numactl
	depends = bzip2
	depends = gcc-libs
	depends = zlib
	depends = xz
	depends = libjpeg-turbo
	optdepends = intel-media-sdk: Intel QuickSync support
	optdepends = libdvdcss: for decoding encrypted DVDs
	provides = handbrake-cli
	conflicts = handbrake-cli
