pkgbase = lablgtk2-lk
	pkgdesc = An Objective Caml interface to gtk2
	pkgver = 2.18.12
	pkgrel = 1
	url = http://lablgtk.forge.ocamlcore.org/
	arch = x86_64
	license = LGPL
	makedepends = ocaml-compiler-libs-lk
	makedepends = camlp5-lk
	depends = gtk2
	depends = librsvg
	optdepends = ocaml-lk: for using the tools
	provides = lablgtk2
	conflicts = lablgtk2
	options = !makeflags
	options = staticlibs
	options = !lto
	source = lablgtk2-2.18.12.tar.gz::https://github.com/garrigue/lablgtk/archive/2.18.12.tar.gz
	source = gcc10.patch
	sha512sums = 284a1234ae817c4df49809d28c103ca5e64046da5ec9ff28c6edc0ce999e9d3e6e180dd053f8b1663d4fb3b7ba19570d53b9441c8fa622add924e8d85e41b813
	sha512sums = 0fcb9f333101c5ab04dde1729a9c9805e422f100f79ad8014a3cd8c5cb78d19344292e334d4cc70d3614a41a4e143a30cd707b67a8443fa8b6f8c8fc9d7f27d9

pkgname = lablgtk2-lk
